<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>

    <!--
    maxReceivedMessageSize is arbitrarily increased x 10.
    Note that the retrieved overview table determines the size.
    Pictures in there may be a problem too.
  
    maxArrayLength is arbitrarily increased x 10.
    This seems to be needed for the large pictures in the detail views.
  
    Note there may be a problem with the virtual drive of a project not being mapped.
    Use machine name to be visible in Fiddler.
  
    Note that comments within the serviceModel below get lost when using the configuration editor.
    -->

    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="ProductsService_wsHttpBinding" maxReceivedMessageSize="655360">
                    <readerQuotas maxArrayLength="163840" />
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>

        <client>
            <!--
            <endpoint address="https://localhost:65348/ProductsService.svc/ProductsServiceW" binding="wsHttpBinding" bindingConfiguration="ProductsService_wsHttpBinding" contract="ProductsService.IProductsService"/>
            <endpoint address="https://localhost/ProductsServiceDev/ProductsService.svc/ProductsServiceW" binding="wsHttpBinding" bindingConfiguration="ProductsService_wsHttpBinding" contract="ProductsService.IProductsService"/>
            <endpoint address="https://localhost/ProductsServicePub/ProductsService.svc/ProductsServiceW" binding="wsHttpBinding" bindingConfiguration="ProductsService_wsHttpBinding" contract="ProductsService.IProductsService"/>
            <endpoint address="https://rcs-vostro/ProductsServicePub/ProductsService.svc/ProductsServiceW" binding="wsHttpBinding" bindingConfiguration="ProductsService_wsHttpBinding" contract="ProductsService.IProductsService"/>
            -->
            <endpoint address="https://rcs-adventureworksservices.azurewebsites.net/ProductsService.svc/ProductsServiceW" binding="wsHttpBinding" bindingConfiguration="ProductsService_wsHttpBinding" contract="ProductsService.IProductsService"/>
        </client>
    </system.serviceModel>
</configuration>