<?xml version="1.0" encoding="utf-8"?>

<!--
Note this file is transformed thanks to an extension.
This also resulted in generated changes in .csproj.
https://marketplace.visualstudio.com/items?itemName=GolanAvraham.ConfigurationTransform
-->

<configuration>
	<!--Note this this needs the first element and only one of this type.-->
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
	</configSections>

	<!--
  Note this enables distiction between for services depnding on configurations.
  Only actual documentation found so far: 
	https://documentation.help/MS-Enterprise-Library-5.0/EntLib50_d3f74a92-c473-4a9e-83ca-dfcff759912f.html
	-->
	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
		<assembly name="RCS.WpfShop.AdventureWorks" />
		<container name="Products">
			<register   type="RCS.WpfShop.AdventureWorks.Wrappers.IProductsService" mapTo="RCS.WpfShop.AdventureWorks.Wrappers.WcfClient">
				<lifetime type="singleton" />
			</register>
		</container>
	</unity>

	<appSettings>
		<add key="Environment" value="" />
	</appSettings>

	<!--
    maxReceivedMessageSize is arbitrarily increased x 10.
    Note that the retrieved overview table determines the size.
    Pictures in there may be a problem too.
  
    maxArrayLength is arbitrarily increased x 10.
    This seems to be needed for the large pictures in the detail views.
  
    Note there may be a problem with the virtual drive of a project not being mapped.
    Use machine name to be visible in Fiddler.
  
    Note that comments within the serviceModel below get lost when using the configuration editor.
    -->

	<system.serviceModel>
		<diagnostics performanceCounters="Default" />
		<bindings>
			<wsHttpBinding>
				<binding name="WSHttpBinding_IProductsService" maxReceivedMessageSize="655360">
					<readerQuotas maxArrayLength="163840" />
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>

		<client>
			<!-- IIS. 
			Note that everything through IIS is now bound to a certificate for the domain.
			-->
			<endpoint name="ProductsService" address="https://rcsworks.nl/ProductsServicePub/ProductsService.svc/ProductsServiceW" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProductsService" contract="ProductsService.IProductsService" />
		</client>
	</system.serviceModel>
</configuration>
