<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="RCS.WpfShop.ServiceClients.Products" />
    <container>
      <register type="RCS.WpfShop.ServiceClients.Products.ProductsService.IProductsService" mapTo="RCS.WpfShop.ServiceClients.Products.ProductsService.ProductsServiceClient">
        <!--Use constructor without parameters.-->
        <constructor />
      </register>
    </container>
  </unity>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <runtime>
    <legacyUnhandledExceptionPolicy enabled="1" />
    <ThrowUnobservedTaskExceptions enabled="true" />
  </runtime>

  <!--
    maxReceivedMessageSize is arbitrarily increased x 10.
    Note that the retrieved overview table determines the size.
    Pictures in there may be a problem too.
  
    maxArrayLength is arbitrarily increased x 10.
    This seems to be needed for the large pictures in the detail views.
  
    Note there may be a problem with the virtual drive of a project not being mapped.
    Use machine name to be visible in Fiddler.
  
    Note that comments within the serviceModel below get lost when using the configuration editor.
    -->

  <system.serviceModel>
    <diagnostics performanceCounters="Default" />
    <bindings>
      <wsHttpBinding>
        <binding name="ProductsService_wsHttpBinding" maxReceivedMessageSize="655360">
          <readerQuotas maxArrayLength="163840" />
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

    <client>
      <!--TODO Get transformation on configs. -->

      <!--Local IIS Express.-->
      <!--
      <endpoint address="https://localhost:44300/ProductsService.svc/ProductsServiceW" binding="wsHttpBinding" bindingConfiguration="ProductsService_wsHttpBinding" contract="ProductsService.IProductsService" />
      -->

      <!-- Local IIS.-->

      <!-- Werkt wel met op IIS client certificate Ignore of Accept:
      <endpoint address="https://<IP number>/ProductsServicePub/ProductsService.svc/ProductsServiceW" binding="wsHttpBinding" bindingConfiguration="ProductsService_wsHttpBinding" contract="ProductsService.IProductsService" />
      -->
      <endpoint address="https://rcs-vostro/ProductsServicePub/ProductsService.svc/ProductsServiceW" binding="wsHttpBinding" bindingConfiguration="ProductsService_wsHttpBinding" contract="ProductsService.IProductsService" />

      <!-- Werkt niet vanwege certificate (uitzoeken)
      <endpoint address="https://localhost/ProductsServicePub/ProductsService.svc/ProductsServiceW" binding="wsHttpBinding" bindingConfiguration="ProductsService_wsHttpBinding" contract="ProductsService.IProductsService" />
      <endpoint address="https://192.168.178.15/ProductsServicePub/ProductsService.svc/ProductsServiceW" binding="wsHttpBinding" bindingConfiguration="ProductsService_wsHttpBinding" contract="ProductsService.IProductsService" />
      -->

      <!--Azure-->
      <!--
      <endpoint address="https://rcs-adventureworksservices.azurewebsites.net/ProductsService.svc/ProductsServiceW" binding="wsHttpBinding" bindingConfiguration="ProductsService_wsHttpBinding" contract="ProductsService.IProductsService"/>
      -->
    </client>
  </system.serviceModel>
</configuration>
