<?xml version="1.0"?>

<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Environment" value="Test" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!--Note this is inserted at a different position.-->
    <assembly name="RCS.WpfShop.ServiceClients.Products.Mock" xdt:Transform="Insert"/>
    <container>
      <register type="RCS.WpfShop.ServiceClients.Products.ProductsService.IProductsService" 
                mapTo="RCS.WpfShop.ServiceClients.Products.Mock.ProductsServiceClient"
                xdt:Transform="Replace" xdt:Locator="Match(type)">
        <!--Use constructor without parameters.-->
        <constructor />
      </register>
    </container>
  </unity>
</configuration>