<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <!--
  TODO >> Decrease.
  
  maxReceivedMessageSize is increased x 100 arbitrarily.
  Note that a whole overview table is retrieved.
  Pictures in there may be a problem too.
  
  maxArrayLength is increased x 100 arbitrarily.
  This seems to be needed for large pictures in details.
  
  Note that comments within serviceModel get lost when using the configuration editor.
  -->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IProductsService" maxReceivedMessageSize="6553600">
          <readerQuotas maxArrayLength="1638400" />
        </binding>
      </wsHttpBinding>
    </bindings>

    <client>
      <!--
      <endpoint address="http://localhost:65348/ProductsService.svc/ProductsService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProductsService" contract="ProductsService.IProductsService" name="WSHttpBinding_IProductsService">
      <endpoint address="http://localhost/ProductsService/ProductsService.svc/ProductsService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProductsService" contract="ProductsService.IProductsService" name="WSHttpBinding_IProductsService">
      -->
      <endpoint address="http://localhost/ProductsServicePub/ProductsService.svc/ProductsService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProductsService" contract="ProductsService.IProductsService" name="WSHttpBinding_IProductsService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
