<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <ApplicationRevision>0</ApplicationRevision>
    <ApplicationVersion>0.22.0.0</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>True</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Disk</InstallFrom>
    <IsRevisionIncremented>False</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <ManifestCertificateThumbprint>B8B71FCF95CD73FA77A0A17D53F4EE31444589D4</ManifestCertificateThumbprint>
    <MapFileExtensions>False</MapFileExtensions>
    <OpenBrowserOnPublish>false</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <ProductName>Cyclone.WPF.ClickOnce</ProductName>
    <PublishDir>bin\Release\net9.0-windows10.0.26100.0\win-x86\app.publish\</PublishDir>
    <PublishUrl>..\..\publish\ClickOnce\</PublishUrl>
    <PublisherName>Cyclone.WPF.ClickOnce</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>True</SignManifests>
    <SuiteName>Cyclone</SuiteName>
    <SupportUrl>https://github.com/a-einstein/WpfShop</SupportUrl>
    <TargetFramework>net9.0-windows10.0.26100.0</TargetFramework>
    <UpdateEnabled>False</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.htm</WebPageFileName>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <SkipPublishVerification>false</SkipPublishVerification>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.7.0.x86">
      <Install>true</Install>
      <ProductName>.NET Desktop Runtime 7.0.20 (x86)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>